:root {
    --primary-color: #ffffff;
    --secondary-color: #aec4ff;
    --accent1-color: #132266;
    --accent2-color: #ffbb00;
    --heading-font: 'Georgia', serif;
    --body-font: 'Trebuchet MS', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}   

header img {
    grid-column: 1;
    justify-self: center;
   }

header nav {
    grid-column: 2 /4;
    gap: 5px;
}

header nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    border: 1px solid var(--accent1-color);
    padding: 8px;
    border-radius: 4px;
    padding-right: 16px;
    padding-left: 16px;
    
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    text-shadow: #000000 0px 0px 10px;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

h2 {
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: left;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}

.hero article {
    position: absolute;
    top: 50%;
    width: 97%;
    padding-right: 16px;
    padding-left: 16px;
    text-align: left;
    background-color: var(--accent2-color);
    color: black;
}

.hero article img {
    float: right;
    width: 125px;
    height: auto;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2;
    gap: 10px;
}

.history h2 {
    grid-column: 1 / 4;
    justify-self: center;
    width: 100%;
    padding: 16px;
    text-align: center;
}

.history-text1 {
    grid-column: 1 / 2;
    justify-self: center;
    width: 100%;
    padding: 16px;
    text-align: left;
}

.history-text2 {
    grid-column: 3 / 4;
    justify-self: center;
    width: 100%;
    padding: 16px;
    text-align: left;
}

